body {
    background: beige;
}

header {
    margin: 2% 3%;
}

.logo {
    display: inline;
    position: relative;
    margin-left: 30px;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.entradaTexto {
    margin-right: 5em;
    text-align: center;
}

#advertencia {
    font-size: 11px;
    color: black;
    text-align: start;
    margin-left: 22%;
    margin-top: 11px;
}

.textArea {
    resize: none;
}

.salidaTexto {
    margin-left: -50px;
    text-align: center;
}

.imagen {
    position: absolute;
    width: 300px;
    height: 455px;
}

#munieco {
    height: 180px;
    position: relative;
    top: 50px;
}

#mensaje {
    position: relative;
    top: 70px;
    left: 9px;
    font-size: 22px;
    color: #234567;
    font-weight: bold;
}

#copy{
    margin-top: 12%;
    /*Haciendo invisible el boton copy*/
    visibility: hidden;
}

.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;

    font-size: medium;
    font-weight: bold;

}

.input:focus {
    outline-color: white;
    place-content: "Enter your message!";
}

.botones {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.botones:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.botones span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.botones svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.botones:hover:before {
    width: 100%;
    background: #b1dae7;
}

.botones:hover svg {
    transform: translateX(0);
}

.botones:active {
    transform: scale(0.95);
}

#copyright {
    margin: 20px 0 0 0;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    color: black;
}